<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/index.css" />
  <script type='module' src='scripts/logic.js'></script>
  <title>Calculadora de siestas</title>
</head>
<body>
  <section class='contenido'>
    <h1>Calculadora de siestas 💤</h1>
    <form action='' method='post' class='agenda-form' id='form-agenda'>
      <label for='POST-agenda' class='texto'>Digite la agenda de hoy</label>
      <textarea id="POST-agenda" cols='60' rows='7'></textarea>
      <div class='button-agenda-div'></div>
      <input type="submit" value='Calcular' class='boton-estilo'>
    </form>
  </section>
</body>
</html>